:root {
    --mdc-theme-primary: #1b5e20;
    --mdc-theme-primary-light: #4c8c4a;
    --mdc-theme-primary-dark: #003300;
    --mdc-theme-secondary: #f9a825;
    --mdc-theme-secondary-light: #ffd95a;
    --mdc-theme-secondary-dark: #c17900;
}

body {
    font-family: sans-serif;
}

main {
    overflow: scroll;
}

.panel {
    margin-top: 70px;
}

#tooltip {
    background-color: white;
    z-index: 200;
    position: absolute;
    display: none;
    max-width: 70%;
}

#tooltip h1 {
    font-weight: bold;
}

table td+td {
    border-left: 1px dashed silver;
    text-align: center;
}

th, td {
    font-family: monospace;
    white-space: nowrap;
}

th.ref {
    font-weight: bold;
}

td.empty {
    color: silver;
}

tr:hover {
    background-color: #ddd;
}

td.fullonly {
    color: #88f;
}
