:root {
    --mdc-theme-primary: #1b5e20;
    --mdc-theme-primary-light: #4c8c4a;
    --mdc-theme-primary-dark: #003300;
    --mdc-theme-secondary: #f9a825;
    --mdc-theme-secondary-light: #ffd95a;
    --mdc-theme-secondary-dark: #c17900;
}

.mdc-toolbar .mdc-tab {
    color: var(--mdc-theme-text-secondary-on-primary, rgba(255, 255, 255, 0.7));
}

.mdc-toolbar .mdc-tab--active {
    color: var(--mdc-theme-text-primary-on-primary, white);
}

.mdc-toolbar .mdc-tab-bar__indicator {
    background-color: var(--mdc-theme-secondary, #ff4081);
}

body {
    font-family: sans-serif;
}

body.timeline {
    background-color: #eee;
}

main {
    overflow: auto;
}

.panel {
    margin-top: 70px;
}

.nofiles {
    color: #888;
}

#tooltip {
    background-color: white;
    z-index: 200;
    position: absolute;
    display: none;
    max-width: 70%;
}

.tooltip-card__primary {
    padding: 1rem;
}

.tooltip-card__supporting-text {
    padding: 0 1rem 8px 1rem;
}

#tooltip h1 {
    font-weight: bold;
    margin: 0;
}

table td+td {
    border-left: 1px dashed silver;
    text-align: center;
}

th, td {
    font-family: monospace;
    white-space: nowrap;
}

th.ref {
    font-weight: bold;
}

td.empty {
    color: silver;
}

tr:hover {
    background-color: #ddd;
}

td.fullonly {
    color: #88f;
}

.release-card {
    background-color: white;
    border-radius: 12px 4px;
    width: 80%;
    margin: 20px auto;
    padding: 12px;
}

.release-card .version {
    font-weight: bold;
    font-size: 1.5em;
    display: table-cell;
}

.release-card .date {
    display: table-cell;
    padding-left: 2em;
}

.release-card .date span {
    font-weight: bold;
}

.release-card .devices {
    display: table-cell;
    padding-left: 2em;
}

.release-card .devices span {
    font-weight: bold;
}

.release-card .lastreleased {
}
